.nav-header {
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.title-container {
  display: flex;
  justify-content: flex-start;
}

.wave-image {
  height: 40px;
  width: 40px;
}

.wave-heading {
  font-family: 'Roboto';
  color: #6d396b;
  font-size: 16px;
  margin-left: 10px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.title {
  text-decoration: none;
  margin: 10px;
  color: #6d396b;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
